@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  
}

button {
  outline: none !important;
}

::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: none;  /* Ocultar scroll */
}

.titleSwal{
  font-size: 24px;
}

  
:root {
  --colorA: #fad419;
  --colorB: #002954;
  --colorG: #666666;
  --colorN: #f2b600;
}

.swal2-input {
  border: solid 1px #ddd;
  font-size: 15px;
  width: 100%;
  transition: border-color 0.2s;
  text-align: center;
  color: var(--colorG);
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto 10px;
  border-radius: 5px;
}
.swal2-container.swal2-center{
    padding: 0;
}

.swal2-container.swal2-center>.swal2-popup{
  padding: 20px;
  text-align: center;
  max-width: 350px;
}

.swal2-show {
  padding: 20px;
  text-align: center;
  max-width: 350px;
}

.swal2-input:focus {
  outline: none;
  border: none;
  box-shadow: none;
  border: solid 1px #ddd;
}
.swal2-actions {
  margin: 0;
  place-self: end;
}

.swal2-modal {
}

.swal2-title {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  color: var(--colorG);
  font-weight: 500;
  padding: 0;
  margin-bottom: 10px;
}

.swal2-text {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: var(--colorG);
  font-weight: 500;
}


.swal2-styled.swal2-confirm {
  background-color: var(--colorN);
  outline: none;
  padding: 5px 15px;
}
.swal2-styled.swal2-cancel{
  background-color: var(--colorG);
  outline: none;
  padding: 5px 15px;
}




.swal2-styled.swal2-confirm:not([disabled]):hover {
  background-color: orange;
}
.swal2-styled.swal2-cancel:not([disabled]):hover{
  background: #555555;
}

.swal2-styled.swal2-cancel:active,
.swal2-styled.swal2-confirm:active {
  background-color: orange;
  outline: none;
}

.swal2-styled.swal2-cancel:focus,
.swal2-styled.swal2-confirm:focus {
  outline: none;
  box-shadow: none;
}

.swal2-styled.swal2-cancel[disabled],
.swal2-styled.swal2-confirm[disabled] {
  opacity: 0.5;
  cursor: default;
}

.swal2-styled.swal2-cancel::-moz-focus-inner,
.swal2-styled.swal2-confirm::-moz-focus-inner {
  border: 0;
}

